# used for postgresql 
POSTGRES_DB={postgres}
POSTGRES_USER={postgres}
POSTGRES_PASSWORD={postgres}

# service database details
SHIBA_DATABASE={database-name}
SHIBA_DATABASE_USER={database-user}
SHIBA_DATABASE_PASSWORD={database-password}