# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Flask stuff:
.webassets-cache

# mypy
.mypy_cache/

# Django stuff:
*.log
*.log.*
local_settings.py
db.sqlite3

# pyenv
.python-version

# Environments
.env
.flaskenv
.venv
**/.*venv
env/
venv/
ENV/
env.bak/
venv.bak/
**/.*env


# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# env
/.vscode
/instantclient_19_10
/instantclient_21_3
/tmp
**/*.xlsx

